:root {

	--bgcolor: #ffffff;
	--fgcolor: #1b1b1b;
	--linkcolor: #1f1f1f;
	--visitedcolor: #454545;
	--font-family: 1.23em/1.62 -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
	--highlight-color: rgba(211,211,211,0.55);

}

html{

	margin:1em auto;
	max-width:45em;
	padding:0.95em;
	font: var(--font-family);
	background-color: var(--bgcolor);
	color: var(--fgcolor);
	margin-bottom: 2ex;

}

/*
h1,h2,h3 {

	line-height:1.2

}
*/

a:link {
	color: var(--linkcolor);
	background-color: var(--highlight-color);
	font-weight: bold;
	text-decoration: none; 
}

a:hover {
	color: var(--linkcolor);
	background-color: var(--highlight-color);
	text-decoration-style: solid; 
}

a:visited {
	color: var(--visitedcolor);
}

dd + dt {
	margin-top: 1em;
}

pre > code {
	display: block;
	width: 80ch;
	outline: thin solid #777777;
	overflow: scroll;
}
